# https://github.com/tmux-plugins/tmux-continuum/blob/master/docs/systemd_details.md
[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)
After=schroot.service
Wants=schroot.service

[Service]
Type=forking
ExecStart=%h/.local/bin/tmux_start
ExecStop=%h/.config/tmux/plugins/tmux-resurrect/scripts/save.sh
ExecStop=/usr/bin/tmux kill-server
KillMode=control-group

RestartSec=2

[Install]
WantedBy=default.target
