[submodule ".diff-so-fancy"]
	path = .deps/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".deps/tpm"]
	path = .deps/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".deps/bash-preexec"]
	path = .deps/bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
