set completion-ignore-case On
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string
set vi-cmd-mode-string \1\e[33;1m\2> \1\e[0m\2

"\eOH": beginning-of-line
"\eOF": end-of-line
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-f": "\C-e\C-utmux_loader\n"

set keymap vi-command
"\eOH": beginning-of-line
"\eOF": end-of-line
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-f": "dditmux_loader\n"

$if gdb
set editing-mode emacs
$endif
