* {
	border: none;
	color: white;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: #323232;
	color: white;
	font-family: TerminessNerdFont;
	font-size: 17;
}

#backlight,
#battery,
#network,
#memory,
#cpu,
#language,
#pulseaudio,
#clock {
	background-color: #323232;
	color: white;
	padding-left: 7px;
	padding-right: 7px;
}

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: orange;
}

#battery.critical {
	color: red;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#cpu.warning {
	color: orange;
}

#cpu.critical {
	color: red;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: #ff5f1f;
}

#memory.critical {
	color: red;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#mode {
	background: #64727D;
	border-top: 2px solid white;
	padding-bottom: 2px;
}

#network.disconnected {
	color: orange;
}

#workspaces button {
	border-top: 2px solid transparent;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	color: #888888;
}

#workspaces button.focused {
	border-color: #6c782e;
	color: white;
	background-color: #6c782e;
}

#workspaces button.urgent {
	border-color: #ff5f1f;
	color: #ff5f1f;
}

tooltip {
	background: #323232;
}
